.html{
    height: 100%;   
}
.body{
    height: 100%;
}
.data-display{
    height: 30%;
    background-color: rgb(153,166, 177);
}
.data{
    height: 2000px;
}
.ldBar-label{
    display: none;
}
#top{
    height: 200px;
}