.html{
    height: 100%;
}
.body{
    height: 100%;
}
#homeTitle{
    font-family: 'Mina'
}

.dataNumbers{
    font-family: 'Mina';
    font-size: 20px;
}

.data-display{
    padding: auto auto;
    height: 400px;
    background-color: rgb(233, 231, 231);
    border-radius: 25px;
}

.data{
    height: 200px;
}
.ldBar-label{
    display: none;
}
.space{
    height: 8.25em;
}
